p.p1 {
    color: tan;
    text-align: center;
    text-indent: 35px;
    letter-spacing: 2px;
}
p.p2 {
    color: blue;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

