/*Propiedades de Texto*/

/* p.p1 {
    color: tan;
    text-align: center;
    text-indent: 35px;
    letter-spacing: 2px;
}
p.p2 {
    color: blue;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
} */

/*Propiedades de background*/

/*
h1 {
    background-color: bisque;
    height: 50px;
    width: 150px;
    position: relative;
    left: 820px;
}

p.p1 {
    background-color: bisque;
    height: 300px;
    width: 600px;
    left: 600px;
    position: relative;
}

div.bg {
    background-color: aqua;
    height: 240px;
    width: 340px;
    left: 750px;
    position: relative;
}
*/

/*Propiedades de fonts*/

h1 {
    font-size: 40px;
    font-family: cursive;
    font-style: oblique;

}

p.p1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: oblique;
}
p.p2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-style: oblique;
}
